h1{
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    color: blue;
    margin: 0%;
      
}
nav a{
    border: solid 1px black;
    margin: 48%;
    text-decoration: none;
    font-size: 1rem;
    background-color: lightgray;
    color: brown;
    
}
a:visited{
color: violet;
}

a:link{
    color: rgb(221, 125, 15);
}

a:hover{
    color: teal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .main{
      text-align: center;
      font-family: cursive;
  }
  .kontakt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    
  }
  cite{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 2rem;
  }